:root {
    --accent-green: rgb(41, 186, 116);
    --accent-blue: rgb(41, 94, 126);
    --accent-gray: rgb(127, 127, 127);
}

body {
    background-color: #EDEBE9;
}
.slide-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    max-width: 1500px;
}
.slide {
    display: flex;

    background-color: #FFFFFF;
    border: 1px solid #b0afae;
    box-shadow: 3px 3px 3px #b4b4b4;

    width: 90%;
    aspect-ratio: 16/9;

    position: relative;
    top: 0;

    /* padding: 40px 40px; */
    margin: 0 auto 20px auto;

    font-family: "Trebuchet MS", "Trebuchet MS_EmbeddedFont", "Trebuchet MS_MSFontService", sans-serif;
    font-size: 26px;

    overflow: hidden;
}

.slide-inner {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    /* overflow-y: scroll; */
}

@media only screen and (min-width: 1200px) {
    .slide {
        font-size: 30px;
    }
}

@media only screen and (max-width: 1000px) {
    .slide {
        font-size: 20px;
        width: 100%;
    }
    
    .slide .content {
        margin-top: 10px;
    }
}

.slide.default-slide > .slide-inner, .slide .two-thirds-inner {
    margin: 40px 40px 70px 40px;
}

.slide-title {
    color: var(--accent-green);
    font-size: 100%;
    height: 60px;
}

.slide-title > .pre-title {
    color: var(--accent-blue);
}

.slide .footnote {
    color: var(--accent-gray);
    font-size: 50%;

    position: absolute;
    bottom: 25px;
}

.slide .copyright {
    color: var(--accent-gray);
    font-size: 40%;

    position: absolute;
    bottom: 25px;
    right: 10px;
    writing-mode: vertical-lr;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.slide-inner .content {
    margin-top: 20px;
    font-size: 70%;

    display: flex;
    overflow: hidden;
}

.slide-inner .content > .table-container {
    overflow-y: auto;
}

.slide-inner .content > .table-container {
    border-spacing: 20px 10px;
    border-collapse: collapse;

    flex: 0 50%;
    /* margin: -10px 0 1px -20px; */
}

table.ranking-table {
    border-spacing: 20px 10px;
    border-collapse: collapse;

    font-size: 100%;
    width: 100%;
    /* margin: -10px 0 1px -20px; */
}

.ranking-table th {
    color: var(--accent-green);
    text-align: left;
    /* padding: 0; */
    /* padding-bottom: 2px; */

    padding-right: 10px;
}
.ranking-table th > div {
    width: 100%;
    padding-bottom: 2px;
    border-bottom: 1px solid var(--accent-green);
}

.ranking-table td {
    text-align: left;
    padding: 10px 0 10px 0;
    padding-right: 10px;
}

.ranking-table tr {
    border-top: 1px dotted gray;
}
.ranking-table tr:nth-child(-n + 2) {
    border: 0;
}

.number-ball {
    width: 20px;
    height: 20px;
    background-color: var(--accent-green);
    border-radius: 100%;
    text-align: center;
    color: white;
    font-size: 60%;
    line-height: 20px;
    margin: auto;
}

.flow-arrow {
    padding: 20px;
    background-image: linear-gradient(var(--accent-gray), var(--accent-gray));
    background-size: 1px 100%;
    background-repeat: no-repeat;
    background-position: center center;
}

.green-arrow {
    width: 20px;
    height: 20px;
    background-color: var(--accent-green);
    border-radius: 100%;
    margin: auto;

    position: relative; 
    top: 50%;
    transform: translateY(-50%);
}

.green-arrow > .top {
    width: 50%;
    height: 1px;
    background: white;
    transform: rotate(45deg);
    position: absolute;
    top: 30%;
    left: 30%;
    transform: rotate(45deg);
}

.green-arrow > .bottom {
    width: 50%;
    height: 1px;
    background: white;
    transform: rotate(45deg);
    margin: auto;
    position: absolute;
    top: 62%;
    left: 30%;
    transform: rotate(-45deg);
}

.slide .commentary-container {
    flex: 0 50%;
}
.slide .commentary-container >.heading {
    color: var(--accent-green);
    font-weight: bold;
    border-bottom: 1px solid var(--accent-green);
    padding-bottom: 2px;
}

.slide .commentary-container > ul {
    padding-left: 16px;
    list-style: none
}

.slide .commentary-container > ul > li::before {
    content: "\2022";
    color: var(--accent-green);
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
}

.slide .commentary-container > ul > li + li {
    padding-top: 12px;
}

.slide .one-third {
    width: 33%;
    height: 100%;
    float: left;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.slide .one-third .slide-title {
    padding: 40px;
    color: white;
    z-index: 100;
}

.slide .one-third.agenda-bg {
    background-image: url("client/res/agenda-bg.png");
    background-size: auto 100%;
    background-position: 40% center;
}

.slide .two-thirds {
    width: 67%;
    height: 100%;
    float: left;
}

.img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128,128,128,0.2);
}